/* Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 7px !important;
}
::-webkit-scrollbar-track {
  background: #f4f4f4;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  background: #858484 !important;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: #666666 !important;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #858484 #f4f4f4;
}

/* Edge and IE */
* {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
