.panel__top {
  padding: 0;
  width: 100%;
  display: flex;
  position: initial;
  justify-content: center;
  justify-content: space-between;
}
.panel__basic-actions {
  position: initial;
}

.gjs-cv-canvas {
  top: 0;
  width: 100%;
  height: 100%;
}
