.reset-pass {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: #f6f6f6;
	height: 100vh;
	.reset-pass-con {
		.logo {
			margin-bottom: 16px;
			img {
				width: 150px;
				// height: 100%;
				object-fit: contain;
			}
		}
		// display: flex;
		width: 686px;
		height: 500px;
		padding: 48px 64px;
		flex-direction: column;
		background: #fff;
		align-items: center;
		// gap: 94px;
		flex-shrink: 0;

		h1 {
			color: var(--gray-900, #101828);
			font-size: 48px;
			font-style: normal;
			font-weight: 600;
			line-height: 60px; /* 125% */
			letter-spacing: -0.96px;
		}
		h3 {
			color: var(--gray-900, #101828);
			text-align: center;
			font-size: 48px;
			font-style: normal;
			margin-top: 2rem;
			font-weight: 600;
			line-height: 60px; /* 125% */
			letter-spacing: -0.96px;
		}
		p {
			color: var(--gray-500, #667085);
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: 30px; /* 150% */
		}
		.fullWidth {
			width: 100% !important;
			margin-top: 3rem;
		}
		.link-sent-wrap {
			display: flex;
			align-items: center;
			flex-direction: column;
		}
		@media screen and (max-width: 768px) {
			width: 100%;
			padding: 10px 16px;
			height: 100%;
			h1 {
				font-size: 30px;
			}
		}
	}
}
.MainContainer {
	width: 100%;
	// max-width: 600px;
	margin: 0 auto;
	padding: 0 16px;
}

.StepContainer {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	position: relative;
	:before {
		content: '';
		position: absolute;
		background: #f3e7f3;
		height: 4px;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
	}
	:after {
		content: '';
		position: absolute;
		background: #4a154b;
		height: 4px;
		top: 50%;
		transition: 0.4s ease;
		transform: translateY(-50%);
		left: 0;
	}
}

.StepWrapper {
	position: relative;
	z-index: 1;
}

.StepStyle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #ffffff;

	transition: 0.4s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

.StepCount {
	font-size: 19px;
	color: #f3e7f3;
	@media (max-width: 600px) {
		font-size: 16px;
	}
}

.StepsLabelContainer {
	position: absolute;
	top: 66px;
	left: 50%;
	transform: translate(-50%, -50%);
}

.StepLabel {
	font-size: 19px;
	color: #4a154b;
	@media (max-width: 600px) {
		font-size: 16px;
	}
}

.CheckMark {
	font-size: 26px;
	font-weight: 600;
	color: #4a154b;
	-ms-transform: scaleX(-1) rotate(-46deg); /* IE 9 */
	-webkit-transform: scaleX(-1) rotate(-46deg); /* Chrome, Safari, Opera */
	transform: scaleX(-1) rotate(-46deg);
}
