.container {
  position: absolute;
  background: white;
  overflow-y: scroll;
  padding: 0.5rem;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .back {
    position: fixed;
    top: 5.5rem;
    left: 0.5rem;
    z-index: 10;
    cursor: pointer;
    display: flex;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 10px;
    gap: 2px;
    margin-left: 10px;
    margin-bottom: 10px;
    align-items: center;
  }

  .back.active {
    background: #fffefe;
    box-shadow: 1px 1px 5px 1px rgba($color: #000000, $alpha: 0.2);
  }

  .back:hover {
    svg {
      transform: translateX(-5px) !important;
    }
  }

  .content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      text-align: center;
      margin-bottom: 2rem;
    }

    .cardContainer {
      display: flex;
      gap: 24px;

      .card {
        display: flex;
        width: 23rem;
        max-width: 95%;
        height: 18rem;
        align-items: center;
        justify-content: center;
        padding: calc(24px);
        background: white;
        gap: 12px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(22, 45, 61, 0.12);

        p {
          font-size: small;
          font-weight: 500;
        }

        button {
          display: flex;
          width: 14rem;
          padding: 12px 20px;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          border: 1px solid var(--main-primary-colours, #fb8500);
          background: var(--main-primary-colours, #fb8500);
          color: #fff;
        }

        button:disabled {
          background: #dadada;
          border: 1px solid #dadada;
          color: #fff;
          cursor: not-allowed;
        }

        button:disabled:hover {
          background: #dadada;
          border: 1px solid #dadada;
        }

        button:hover {
          background: var(--main-primary-colours, #d67200);
          border: 1px solid var(--main-primary-colours, #d67200);
        }
      }
    }
  }

  .contentTwo {
    display: block;
    height: 100%;

    .title {
      text-align: center;
      margin-top: 4rem;
      margin-bottom: 25px;
    }

    .inputContainer {
      display: flex;
      align-items: center;
      margin: 0 auto;
      gap: 10px;
      position: relative;
      width: 33rem;
      max-width: 90%;
      padding: 0.8rem 1rem;
      border-radius: 25px;
      outline: 1px solid #dadada;

      svg {
        color: #dadada;
      }

      input {
        width: 100%;
        height: 100%;
        font-family: inherit;
        font-weight: 500;
        font-size: large;

        &::placeholder {
          font-style: normal;
        }
      }
    }

    .inputContainer:hover {
      outline: 1px solid #3a8fff;
    }

    .inputContainer:focus-within {
      outline: 2px solid #3a8fff;

      svg {
        color: #3a8fff;
      }
    }

    .categoryContainer {
      display: flex;
      margin: 2rem 0 0.5rem 0;
      padding: 1rem 0.5rem;
      width: 100%;
      border-top: 1px solid #dadada;
      border-bottom: 1px solid #dadada;

      .item {
        border-bottom: 1px solid transparent;
        border-right: 1px solid #dadada;
        padding: 0 0.7rem;
        cursor: pointer;
        transition: all 0.2s linear;
      }

      .item:last-child {
        border: none;
      }

      .item.active {
        color: #3a8fff !important;
        text-decoration: underline;
        text-underline-offset: 7px;
      }

      .item:hover {
        color: #3a8fff !important;
      }
    }

    .templateContainer {
      padding: 0 0.5rem 1rem 0.5rem;

      section {
        margin-top: 2rem;

        .templateTitle {
          font-weight: 400;
          margin: 0 0 1rem 0;
          padding: 0.5rem 0;
          border-bottom: 1px solid #dadada;
        }

        .gridContainer {
          grid-column-gap: 60px;
          grid-row-gap: 38px;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          list-style: none;
          margin: 0;
          padding: 0;
          width: 100%;

          .gridItem {
            width: 100%;
            border: 1px solid #dadada;
            border-radius: 18px;

            .imgContainer {
              position: relative;
              aspect-ratio: 16 / 9;
              width: 100%;
              overflow: hidden;
              border-radius: 15px;

              img {
                height: 100%;
                width: 100%;
                object-fit: cover;
              }

              &::after {
                display: block;
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.75);
                transition: all 0.2s ease-in-out;
                transform: translateY(250px);
              }

              .btnContainer {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                margin: 0 auto;
                z-index: 10;
                gap: 10px;
                transition: all 0.2s ease-in-out;
                transform: translateY(250px);

                button {
                  border: 1px solid #fb8500;
                  border-radius: 999px;
                  width: 80%;
                  font-family: inherit;
                  font-size: medium;
                  font-weight: 500;
                  padding: 0.6rem 0;
                }

                button:hover {
                  background: #d67200;
                  border: 1px solid #d67200;
                }

                .btnEdit {
                  background: #fb8500;
                  color: white;
                }

                .btnView {
                  color: #fb8500;
                }

                .btnView:hover {
                  color: white;
                }
              }
            }

            .imgContainer:hover {
              &::after {
                transform: translateY(0px);
              }
            }

            .imgContainer:hover > .btnContainer {
              transform: translateY(-50%);
            }

            p {
              margin-top: 0.5rem;
            }

            &:hover {
              border: 1px solid var(--main-primary-colours, #fb8500);
              transition: all 0.2s ease-in-out;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .back {
    margin-left: 0 !important;
  }

  .title {
    width: 80%;
    margin: 0.5rem auto 0 auto;
  }

  .content {
    display: block !important;
  }

  .cardContainer {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 21rem !important;
  }
}
